.button {
    display: inline-block;
    background-color: #2A8C8B;
    border-radius: 33px;
    padding: 16px 24px;
    border: none;
    cursor: pointer;
}

.button-link {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}