.hero-div {
  background-color: #fffae1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;

  height: 90vh;
  object-fit: cover;
}

.page-summary {
  margin-bottom: 82px;
}
